## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [29]:
import matplotlib.pyplot as plt
import pandas as pd

In [30]:
df = pd.read_csv("../weather-raw.csv")
display(df.head())

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
import math

df_clean = pd.DataFrame(columns=[])

ids = pd.Series([]) 
year = pd.Series([]) 
month = pd.Series([]) 
day = pd.Series([]) 
tmax = pd.Series([]) 
tmin = pd.Series([]) 

flag = 0
cont = 0
for col in df:
    for row in range(len(df[col])):
        if col.startswith("d") and not math.isnan(df[col][row]):
            if flag==0:
                ids[cont] = df["id"][row]
                year[cont] = df["year"][row]
                month[cont] = df["month"][row]
                day[cont] = int(col[1:])
                tmax[cont] = df[col][row]
                cont +=1
            elif flag==1:
                tmin[cont-1] = df[col][row]
            if flag == 1: flag = 0
            else: flag = 1
        
df_clean.insert(0, "id", ids)
df_clean.insert(1, "year", year)
df_clean.insert(2, "month", month)
df_clean.insert(3, "day", day)
df_clean.insert(4, "tmax", tmax)
df_clean.insert(5, "tmin", tmin)

df_clean.sort_values(by=['month', 'day'], inplace=True)
df_clean.reset_index(drop=True, inplace=True)

display(df_clean)

df_clean.to_csv("./weather.csv")

'''df_clean["tmedium"] = df_clean[['tmax', 'tmin']].copy().mean(axis = 1)



df_clean.plot(kind='line',x='month',y='tmax',color='red')
plt.show()'''

         id  year  month  day  tmax  tmin
0   MX17004  2010      1   30  27.8  14.5
1   MX17004  2010      2    2  27.3  14.4
2   MX17004  2010      2    3  24.1  14.4
3   MX17004  2010      2   11  29.7  13.4
4   MX17004  2010      2   23  29.9  10.7
5   MX17004  2010      3    5  32.1  14.2
6   MX17004  2010      3   10  34.5  16.8
7   MX17004  2010      3   16  31.1  17.6
8   MX17004  2010      4   27  36.3  16.7
9   MX17004  2010      5   27  33.2  18.2
10  MX17004  2010      6   17  28.0  17.5
11  MX17004  2010      6   29  30.1  18.0
12  MX17004  2010      7    3  28.6  17.5
13  MX17004  2010      7   14  29.9  16.5
14  MX17004  2010      8    5  29.6  15.8
15  MX17004  2010      8    8  29.0  17.3
16  MX17004  2010      8   13  29.8  16.5
17  MX17004  2010      8   23  26.4  15.0
18  MX17004  2010      8   25  29.7  15.6
19  MX17004  2010      8   29  28.0  15.3
20  MX17004  2010      8   31  25.4  15.4
21  MX17004  2010     10    5  27.0  14.0
22  MX17004  2010     10    7  28.1  12.9
23  MX17004  2010     10   14  29.5  13.0
24  MX17004  2010     10   15  28.7  10.5
25  MX17004  2010     10   28  31.2  15.0
26  MX17004  2010     11    2  31.3  16.3
27  MX17004  2010     11    4  27.2  12.0
28  MX17004  2010     11    5  26.3   7.9
29  MX17004  2010     11   26  28.1  12.1
30  MX17004  2010     11   27  27.7  14.2
31  MX17004  2010     12    1  29.9  13.8
32  MX17004  2010     12    6  27.8  10.5

'df_clean["tmedium"] = df_clean[[\'tmax\', \'tmin\']].copy().mean(axis = 1)\n\n\n\ndf_clean.plot(kind=\'line\',x=\'month\',y=\'tmax\',color=\'red\')\nplt.show()'