# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [4]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
# import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [10]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [11]:
data = rq.get(url)

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [18]:
#your code

github = BeautifulSoup(data.text, 'html.parser')

developers = github.select("h1.h3 a")
nick = github.select("article a.link-gray")

dev = [e.text for e in developers]
nick2 = [e.text for e in nick]

output = ["{} ({})".format(dev[e],nick2[e]) for e in range(len(dev))]
print(output)

['Peter Bourgon (peterbourgon)', 'Pierre Krieger (tomaka)', 'Carl Lerche (carllerche)', 'Matt Layher (mdlayher)', 'Claudio Sanches (claudiosanches)', 'Jeremy Long (jeremylong)', 'Eddy Verbruggen (EddyVerbruggen)', 'Kyle (kylekatarnls)', 'Jeff Geerling (geerlingguy)', 'Kirk Wight (kwight)', 'Daniel Shiffman (shiffman)', '子骅 (luin)', 'Bastian Köcher (bkchr)', 'Brendan Forster (shiftkey)', 'Benjamin Eberlei (beberlei)', 'Tim Griesser (tgriesser)', 'Sascha Grunert (saschagrunert)', 'Juliette (jrfnl)', 'Carlos Alexandro Becker (caarlos0)', 'John Blackbourn (johnbillion)', 'Harry Wolff (hswolff)', 'Yoni Goldberg (i0natan)', 'Felix Angelov (felangel)', 'Rob Moran (thegecko)', 'Ayrat Badykov (ayrat555)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [54]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [68]:
data2 = rq.get(url)

github_py = BeautifulSoup(data2.text, 'html.parser')

repos = github_py.select("h1.h3 a", recursive=False)

# Me quedo únicamente con el nombre de los repos, borro los autores

reps = [e["href"].split("/")[2] for e in repos]
    
print(reps)

['bokeh', 'documentation', 'celery', 'nl2sql_baseline', 'airflow', 'dbt', 'tweepy', 'Detectron', 'mlflow', 'USTC-Course', 'tensor2tensor', 'tvm', 'openshift-ansible', 'python-telegram-bot', 'py-faster-rcnn', 'nni', 'locust', 'google-cloud-python', 'sanic', 'edx-platform', 'Mobile-Security-Framework-MobSF', 'django-elasticsearch-dsl', 'jsonschema', 'scrapy', 'sigma']

#### Display all the image links from Walt Disney wikipedia page

In [317]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [335]:
#your code
from IPython.core.display import HTML 
from IPython.display import Image, display_html

data3 = rq.get(url)

disney = BeautifulSoup(data3.text, 'html.parser')

dimgs = disney.select('#bodyContent img')[:-12]

dimg = ["https:"+e["src"][1:] for e in dimgs]

for e in dimg:
    display(HTML('<img src="{}" style="display:inline-block">'.format(e)))

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [19]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [36]:
#your code

# Decido quedarme solamente los enlaces de la wiki, no la de los menús y columnas

data4 = rq.get(url)

wikipython = BeautifulSoup(data4.text, 'html.parser')

links = wikipython.select('#mw-content-text a')

link = [e["href"] for e in links if not e["href"].startswith("#")]

# Me fijo que hay rutas relativas y absolutas. Las convierto todas en absolutas

link2 = [e if e.startswith("http") else "{}{}".format("https:",e) if e.startswith("//") \
         else "{}{}".format("https://en.wikipedia.org",e) for e in link]

print(link2)

['https://en.wiktionary.org/wiki/Python', 'https://en.wiktionary.org/wiki/python', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=1', 'https://en.wikipedia.org/wiki/Pythonidae', 'https://en.wikipedia.org/wiki/Python_(genus)', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=2', 'https://en.wikipedia.org/wiki/Python_(mythology)', 'https://en.wikipedia.org/wiki/Python_of_Aenus', 'https://en.wikipedia.org/wiki/Python_(painter)', 'https://en.wikipedia.org/wiki/Python_of_Byzantium', 'https://en.wikipedia.org/wiki/Python_of_Catana', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=3', 'https://en.wikipedia.org/wiki/Python_(film)', 'https://en.wikipedia.org/wiki/Pythons_2', 'https://en.wikipedia.org/wiki/Monty_Python', 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=4', 'https://en.wikipedia.org/wiki/Python_(programming_language)', 'https://en.wikipedia.org/wiki/CPython', 'https://en.wikipedia.org/wiki/CMU_Common_Lisp', 'https://en.wikipedia.org/wiki/PERQ#PERQ_3', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=5', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=6', 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)', 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)', 'https://en.wikipedia.org/wiki/Python_(Efteling)', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=7', 'https://en.wikipedia.org/wiki/Python_(automobile_maker)', 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=8', 'https://en.wikipedia.org/wiki/Colt_Python', 'https://en.wikipedia.org/wiki/Python_(missile)', 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=9', 'https://en.wikipedia.org/wiki/Python_Anghelo', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=10', 'https://en.wikipedia.org/wiki/PYTHON', 'https://en.wikipedia.org/w/index.php?title=Python&action=edit&section=11', 'https://en.wikipedia.org/wiki/Cython', 'https://en.wikipedia.org/wiki/Pyton', 'https://en.wikipedia.org/wiki/File:Disambig_gray.svg', 'https://en.wikipedia.org/wiki/Help:Disambiguation', 'https://en.wikipedia.org/w/index.php?title=Special:WhatLinksHere/Python&namespace=0']

#### Number of Titles that have changed in the United States Code since its last release point

In [37]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [42]:
#your code

data5 = rq.get(url)

uscode = BeautifulSoup(data5.text, 'html.parser')

bolds = uscode.select('.usctitlechanged')

bold = [e.text.strip() for e in bolds]

print(bold)

['Title 2 - The Congress']

#### A Python list with the top ten FBI's Most Wanted names

In [43]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [44]:
#your code

data6 = rq.get(url)

fbi = BeautifulSoup(data6.text, 'html.parser')

topten = fbi.select('h3.title a')

top = [e.text for e in topten]

print(top)

['JASON DEREK BROWN', 'RAFAEL CARO-QUINTERO', 'ALEXIS FLORES', 'EUGENE PALMER', 'SANTIAGO VILLALBA MEDEROS', 'ROBERT WILLIAM FISHER', 'BHADRESHKUMAR CHETANBHAI PATEL', 'ARNOLDO JIMENEZ', 'ALEJANDRO ROSALES CASTILLO', 'YASER ABDEL SAID']

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [69]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [112]:
#your code

data7 = rq.get(url)

earthquakes = BeautifulSoup(data7.text, 'html.parser')

dates = earthquakes.select('td.tabev6 a')
latLons1 = earthquakes.select('td.tabev1')
latLons2 = earthquakes.select('td.tabev2')
regions = earthquakes.select('td.tb_region')

date = [e.text.split("\xa0\xa0\xa0") for e in dates]
latLon1 = [e.text.strip() for e in latLons1]
latLon2 = [e.text.strip() for e in latLons2]
region = [e.text.strip() for e in regions]

date_final = [date[e][0] for e in range(20)]
time_final = [date[e][1] for e in range(20)]
lat = [latLon1[e] for e in range(0,40,2)]
lon = [latLon1[e] for e in range(1,40,2)]
lat_letter = [latLon2[e] for e in range(0,60,3)]
lon_letter = [latLon2[e] for e in range(1,60,3)]
lat_final = [lat[e] + " " + lat_letter[e] for e in range(20)]
lon_final = [lon[e] + " " + lon_letter[e] for e in range(20)]
region_final = [region[e] for e in range(20)]

dct = {
    "Date" : date_final,
    "Time": time_final,
    "Lat": lat_final,
    "Long": lon_final,
    "Region": region_final
}

df_eq = pd.DataFrame(dct)

display(df_eq)

,Date,Time,Lat,Long,Region
0,2019-06-27,16:14:09.0,2.42 S,138.62 E,"PAPUA, INDONESIA"
1,2019-06-27,16:12:09.0,18.40 N,105.50 W,"OFF COAST OF JALISCO, MEXICO"
2,2019-06-27,15:51:31.8,45.68 N,26.78 E,ROMANIA
3,2019-06-27,15:51:20.1,39.88 N,15.38 E,SOUTHERN ITALY
4,2019-06-27,15:44:25.0,2.49 S,138.58 E,"PAPUA, INDONESIA"
5,2019-06-27,15:39:30.5,21.89 S,168.71 E,LOYALTY ISLANDS
6,2019-06-27,15:22:10.6,43.80 N,15.38 E,ADRIATIC SEA
7,2019-06-27,14:49:19.0,19.12 N,70.47 W,DOMINICAN REPUBLIC
8,2019-06-27,14:43:00.6,40.71 N,16.56 E,SOUTHERN ITALY
9,2019-06-27,14:14:03.4,20.74 S,178.02 W,FIJI REGION
10,2019-06-27,14:05:16.0,2.31 S,138.88 E,"PAPUA, INDONESIA"
11,2019-06-27,13:36:30.0,8.37 N,82.85 W,PANAMA-COSTA RICA BORDER REGION
12,2019-06-27,12:48:35.9,2.72 S,138.36 E,"PAPUA, INDONESIA"
13,2019-06-27,12:47:27.4,39.57 N,26.08 E,NEAR THE COAST OF WESTERN TURKEY
14,2019-06-27,12:45:41.0,2.55 S,138.61 E,"PAPUA, INDONESIA"
15,2019-06-27,12:36:35.0,29.65 S,71.28 W,"COQUIMBO, CHILE"
16,2019-06-27,11:57:30.0,8.37 N,82.84 W,PANAMA-COSTA RICA BORDER REGION
17,2019-06-27,11:45:34.0,18.45 S,70.10 W,"TARAPACA, CHILE"
18,2019-06-27,11:34:15.8,19.34 N,155.14 W,"ISLAND OF HAWAII, HAWAII"
19,2019-06-27,11:24:10.0,2.53 S,138.63 E,"PAPUA, INDONESIA"

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [337]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [342]:
#your code

data8 = rq.get(url)

hackatons = BeautifulSoup(data8.text, 'html.parser')

# La página ha cambiado. No tiene days y solo salen 6 hackatones.

# TAMPOCO PUEDO COGER EL PAÍS Y CIUDAD

titles = hackatons.select('h5.card-title')
datas = hackatons.find_all("p", {"class": "card-text"})

title = [e.text for e in titles]
date = [e.text.strip() for e in datas]

dic_hack = {
    "Título": title,
    "Fecha": date
}

df_hack = pd.DataFrame(dic_hack)

display(df_hack)

                                       Título      Fecha
0                              OSNA HACK 2019  6/27/2019
1               Hackathon | Draper University   7/5/2019
2  Hack-ADA-thon – Inspired by BHS Corrugated  7/12/2019
3           Code Geist Hackathon by SefrWahed  7/29/2019
4                             The Code Factor  5/21/2019
5                             TECHFEST MUNICH   9/6/2019

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [135]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [144]:
#your code

user = "barackobama"

try:
    data9 = rq.get(url+user)
    tuiteres = BeautifulSoup(data9.text, 'html.parser')

    tuits = tuiteres.select('span.ProfileNav-value')

    print("La cuenta @{} tiene {} tweets.".format(user,tuits[0]["data-count"]))
    
except:
    print("El usuario no es válido")

La cuenta @barackobama tiene 15643 tweets.

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [146]:
#your code

user = "barackobama"

try:
    data10 = rq.get(url+user)
    tuiteres = BeautifulSoup(data10.text, 'html.parser')

    tuits = tuiteres.select('span.ProfileNav-value')

    print("La cuenta @{} tiene {} de followers.".format(user,tuits[2]["data-count"]))
    
except:
    print("El usuario no es válido")

La cuenta @barackobama tiene 106769437 de followers.

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [24]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [26]:
#your code

data11 = rq.get(url)

wikipedias = BeautifulSoup(data11.text, 'html.parser')

languages = wikipedias.select('div.central-featured-lang strong')
articles = wikipedias.select('div.central-featured-lang bdi')

language = [e.text.strip().encode('latin1').decode('utf8') for e in languages]
article = [e.text.strip().replace("\xa0","")[:-1] for e in articles]

# Tengo que buscar como decodificarlo

langArt = [(language[e],article[e]) for e in range(len(languages))]

print(langArt)

[('English', '5878000'), ('日本語', '1155000'), ('Español', '1528000'), ('Deutsch', '2314000'), ('Русский', '1551000'), ('Français', '2116000'), ('Italiano', '1535000'), ('中文', '1062000'), ('Português', '1008000'), ('Polski', '1342000')]

#### A list with the different kind of datasets available in data.gov.uk

In [175]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [176]:
data12 = rq.get(url)

dataGov = BeautifulSoup(data12.text, 'html.parser')

datasets = dataGov.select('main a')

types = [e.text.strip() for e in datasets]


print(types)

['Business and economy', 'Crime and justice', 'Defence', 'Education', 'Environment', 'Government', 'Government spending', 'Health', 'Mapping', 'Society', 'Towns and cities', 'Transport']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [27]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [56]:
#your code
data13 = rq.get(url)

list_languages = BeautifulSoup(data13.text, 'html.parser')

list_language = list_languages.select('table:nth-of-type(3) tr')[1:]

d = {
    "Rank" : [list_language[e].select("td:nth-child(1)")[0].text for e in range(20)],
    "Languages" : [list_language[e].select("td:nth-child(2)")[0].text if e != 3 else \
                   list_language[e].select("td:nth-child(2)")[0].text[:-3] for e in range(20)],
    "Speakers (in millions) 2007 (2010)" : [list_language[e].select("td:nth-child(3)")[0].text for e in range(20)],
    "Percentage" : [list_language[e].select("td:nth-child(4)")[0].text.strip() for e in range(20)]
}

df_lan = pd.DataFrame(d)

display(df_lan)

,Rank,Languages,Speakers (in millions) 2007 (2010),Percentage
0,1,Mandarin (entire branch),935 (955),14.1%
1,2,Spanish,390 (405),5.85%
2,3,English,365 (360),5.52%
3,4,Hindi,295 (310),4.46%
4,5,Arabic,280 (295),4.23%
5,6,Portuguese,205 (215),3.08%
6,7,Bengali (Bangla),200 (205),3.05%
7,8,Russian,160 (155),2.42%
8,9,Japanese,125 (125),1.92%
9,10,Punjabi,95 (100),1.44%
10,11,German,92 (95),1.39%
11,12,Javanese,82,1.25%
12,13,Wu (inc. Shanghainese),80,1.20%
13,14,Malay (inc. Indonesian and Malaysian),77,1.16%
14,15,Telugu,76,1.15%
15,16,Vietnamese,76,1.14%
16,17,Korean,76,1.14%
17,18,French,75,1.12%
18,19,Marathi,73,1.10%
19,20,Tamil,70,1.06%

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [216]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [220]:
#your code

user = "barackobama"
n_tuits = 10

try:
    data14 = rq.get(url+user)
    tuiteres = BeautifulSoup(data14.text, 'html.parser')

    tuits = tuiteres.select('p.TweetTextSize')

    tuit = [tuits[e].text for e in range(n_tuits)]
    
    print(tuit)
    
except:
    print("El usuario no es válido")

['Now we’re talking! Congrats to Team USA for moving on, and thanks for continuing to make us all proud. #USAhttps://twitter.com/USWNT/status/1141821855898230785\xa0…', 'On Juneteenth, we celebrate our capacity to make real the promise of our founding, that thing inside each of us that says America is not yet finished, that compels all of us to fight for justice and equality until this country we love more closely aligns with our highest ideals.pic.twitter.com/2XAKRuRrbG', 'Outside the Oval Office, I kept a painting of a small crowd huddled around a pocketwatch, waiting for the moment the Emancipation Proclamation took effect. On Juneteenth, we celebrate the anniversary of that news - freedom - reaching slaves in Texas. And something more:pic.twitter.com/kSkLHbfnc3', 'This is worth a read: a thought-provoking reminder that education reform isn’t a cure-all. As a supporter of education reform, I agree that fixing educational inequality requires doing more to address the broader, systemic sources of economic inequality.https://www.theatlantic.com/magazine/archive/2019/07/education-isnt-enough/590611/\xa0…', 'Yes we can, Greta. I’m hopeful because of you and all the young people who are fighting to protect the planet. Keep at it.https://twitter.com/GretaThunberg/status/1139894497347813376\xa0…', 'Happy Father’s Day to Charles, one of our @ObamaFoundation Fellows, and all the dads at Fathers’ Uplift. Today, we’re celebrating fathers like these who provide a powerful example—not only for their kids, but for the rest of us, too.pic.twitter.com/GJsxi8DozY', 'These young people want to take action and make a change. Through the #CommunityLeadership Corps in Chicago and Hartford, we’re going to help them see it through:pic.twitter.com/CWda5O8X4O', "The @USWNT is something to smile about. It was great to celebrate with them back in 2015 and I'm excited to root them on in their drive to earn their fourth star. Best of luck to these champions for equality, on and off the field. #OneNationOneTeampic.twitter.com/AHcHGATy5S", "Six years ago, David Ortiz's spirit and resolve helped us all begin to heal from the Boston Marathon bombing. Today, I want to join many others in wishing him a speedy recovery of his own. Get well soon, Papi.pic.twitter.com/9orpBgnVI5", "Last week, it was Virginia Beach. But day after day and year after year, too many families and communities are shattered by senseless gun violence. We can't get numb to this. On National Gun Violence Awareness Day, pledge to speak out, #WearOrange — and vote — to protect lives."]

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [348]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [349]:
import re

data15 = rq.get(url)

list_films = BeautifulSoup(data15.text, 'html.parser')

film_titles = list_films.select('td.titleColumn a')
film_ratings = list_films.select('td.ratingColumn strong')
film_releases = list_films.select('td.titleColumn span')

film_name = [e.text for e in film_titles]
film_director = [re.findall(".+(?= \(dir\.\))",e["title"])[0] for e in film_titles]
film_rating = [e.text for e in film_ratings]
film_release = [e.text[1:-1] for e in film_releases]

dfilms = {
    "Movie name" : film_name,
    "Initial release": film_release,
    "Director": film_director,
    "Rating (over 10)": film_rating
}

df_films = pd.DataFrame(dfilms)

display(df_films.head())

,Movie name,Initial release,Director,Rating (over 10)
0,Cadena perpetua,1994,Frank Darabont,9.2
1,El padrino,1972,Francis Ford Coppola,9.2
2,El padrino: Parte II,1974,Francis Ford Coppola,9.0
3,El caballero oscuro,2008,Christopher Nolan,9.0
4,12 hombres sin piedad,1957,Sidney Lumet,8.9

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [57]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [59]:
#your code

data16 = rq.get(url)

list_films = BeautifulSoup(data16.text, 'html.parser')

film_titles = list_films.select('td.titleColumn a')
film_releases = list_films.select('td.titleColumn span')

'''html = urllib.urlopen(url).read()'''

film_name = [film_titles[e].text for e in range(10)]
film_release = [film_releases[e].text[1:-1] for e in range(10)]
film_href = ["http://www.imdb.com" + film_titles[e]["href"] for e in range(10)]

film_description=[]

for e in film_href:
    html = rq.get(e)
    soup = BeautifulSoup(html.text, 'html.parser')
    film_description.append(soup.select('div.summary_text')[0].text.strip()) 

dfilms2 = {
    "Movie name" : film_name,
    "Initial release": film_release,
    "Description" : film_description
}

df_films2 = pd.DataFrame(dfilms2)

display(df_films2.head())

,Movie name,Initial release,Description
0,Cadena perpetua,1994,Two imprisoned men bond over a number of years...
1,El padrino,1972,The aging patriarch of an organized crime dyna...
2,El padrino: Parte II,1974,The early life and career of Vito Corleone in ...
3,El caballero oscuro,2008,When the menace known as The Joker emerges fro...
4,12 hombres sin piedad,1957,A jury holdout attempts to prevent a miscarria...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [2]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

print(url)

Enter the city:Sevilla
http://api.openweathermap.org/data/2.5/weather?q=Sevilla&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric

In [20]:
# your code
import json

data17 = rq.get(url)

weather = BeautifulSoup(data17.text, 'html.parser')

weather = json.loads(str(weather))

report = 'City: {}\nTemperature: {}\nWind: {}\nDescription: {}\nWeather: {}'.format(city,weather["main"]["temp"],\
            weather["wind"]["speed"], weather["weather"][0]["description"], weather["weather"][0]["main"])

print(report)

City: Sevilla
Temperature: 25.58
Wind: 0.5
Description: clear sky
Weather: Clear

#### Book name,price and stock availability as a pandas dataframe.

In [291]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [300]:
#your code

data18 = rq.get(url)

list_books = BeautifulSoup(data18.text, 'html.parser')

books_name = list_books.select('article h3 a')
books_price = list_books.select('article p.price_color')
books_stock = list_books.select('article p.availability')

book_name = [e.text for e in books_name]
book_price = [e.text[1:] for e in books_price]
book_stock = [e.text.strip() for e in books_stock]

dbooks = {
    "Book name" : book_name,
    "Price": book_price,
    "Availability": book_stock
}

df_books = pd.DataFrame(dbooks)

display(df_books)

                                Book name   Price Availability
0                      A Light in the ...  £51.77     In stock
1                      Tipping the Velvet  £53.74     In stock
2                              Soumission  £50.10     In stock
3                           Sharp Objects  £47.82     In stock
4            Sapiens: A Brief History ...  £54.23     In stock
5                         The Requiem Red  £22.65     In stock
6            The Dirty Little Secrets ...  £33.34     In stock
7                 The Coming Woman: A ...  £17.93     In stock
8                     The Boys in the ...  £22.60     In stock
9                         The Black Maria  £52.15     In stock
10  Starving Hearts (Triangular Trade ...  £13.99     In stock
11                  Shakespeare's Sonnets  £20.66     In stock
12                            Set Me Free  £17.46     In stock
13    Scott Pilgrim's Precious Little ...  £52.29     In stock
14                      Rip it Up and ...  £35.02     In stock
15                  Our Band Could Be ...  £57.25     In stock
16                                   Olio  £23.88     In stock
17        Mesaerion: The Best Science ...  £37.59     In stock
18           Libertarianism for Beginners  £51.33     In stock
19                It's Only the Himalayas  £45.17     In stock